/*      Color Table      */
/* Primary      :#3F51B5;*/
/* DarkPrimary  :#303F9F;*/
/* LightPrimary :#C5CAE9;*/
/* Accent       :#536DFE;*/

/*      Primary Color Targets      */
:root,
#mal_control_strip,
#mal_control_strip>tbody tr, #mal_control_strip>tbody tr:before, #mal_control_strip>tbody tr:after,
.header_cw + table,
.header_completed + table,
.header_onhold + table,
.header_ptw + table
 { background-color: #3F51B5 }
a,
.header_title
{ color: #3F51B5 }

/*           LightPrimary          */
.hide+table:hover,
table+table+table:hover,
#mal_cs_listinfo a:hover,
#mal_cs_links a:hover,
#mal_cs_otherlinks a:hover
{ background-color: #C5CAE9 }

/*              Text               */
:root,
#mal_control_strip a,
#mal_cs_listinfo > div:nth-child(1) > strong:nth-child(1) > a:nth-child(1) > strong:nth-child(1),
strong {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    color: rgba(0,0,0,0.87);
}

/*             Divider             */
.hide+table,
table+table {
    border-left: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
}

.hide+table,
table+table+table {
    border-top: 0;
    border-bottom: 1px solid #E5E5E5;
}

#list_surround table:last-of-type
{ border-bottom: 1px solid #E5E5E5 }


/*           Text/Icons            */
#list_surround
{ background-color: #FFFFFF }

.table_headerLink,
strong
{ color: #FFFFFF }